.about-us {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: var(--background-color);
}

.about-us-txt {
    padding-inline: 60px;
    text-align: center;
    font-family: Forum;
    font-size: 22px;
}

.about-us-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

@media (max-width:720px) {
    .about-us-txt {
        padding-inline: 20px;
    }
}

@media (max-width:620px) {
    .about-us-link {
        flex-wrap: wrap;
        gap: 40px;
        padding-inline: 100px;
    }
}

@media (max-width:425px) {
    .about-us-link {
        padding-inline: 60px;
    }
}
