/* components/CookieConsent.module.css */
.banner {
  font-family: Forum;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--white-color);
  color: var(--black-color);
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 5px var(--black-color);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.content p {
  margin: 0;
  flex: 1;
  font-size: 14px;
  line-height: 1.4;
}

.buttons {
  display: flex;
  flex-flow: row-reverse;
  gap: 20px;
  flex-shrink: 0;
}

.acceptBtn {
  background: var(--red-color);
  color: var(--white-color);
  border: 1px solid var(--black-color);
  padding: 10px 0px;
  text-align: center;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.acceptBtn:hover {
  scale: calc(1.05);
}

.declineBtn {
  background: transparent;
  color: var(--black-color);
  border: 1px solid var(--black-color);
  padding: 10px 0px;
  text-align: center;
  border-radius: 10px;
  width: 110px;
  cursor: pointer;
  font-size: 14px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }
  
  .content p {
    margin-bottom: 20px;
  }
}